
@import './variables.scss';

.App {
    .weather-input {
        width: 100%;
        padding: 2em;

        .weather-input-form {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            max-width: 400px;
            margin: 0 auto;
            background: #ccc;
            border: 1px solid #ccc;
            border-radius: 30px;

            .weather-input-el {
                padding: 0.6rem 1em;
                border: none;
                font-size: 1rem;
                font-family: $font-family;
                outline: none;
                background: none;
                width: 85%;

                &::placeholder {
                    color: white;
                }

            } // Weather Input

            .weather-input-btn {
                background: none;
                color: white;
                padding: 0.6rem;
                border: none;
                font-size: 1rem;
                width: 15%;
                transition: background-color 0.3s ease;
                cursor: pointer;

                ion-icon {
                    font-size: 1.4rem;
                }

            } // Weather Input Button
        } // Weather Input Form
    } // Weather Input
} // App


@media (max-width: 462px) {
    .App {
        .weather-input {
            .weather-input-form {
                flex-direction: column;
                gap: 10px;

                .weather-input-el {
                    width: 100%;
                }
                .weather-input-btn {
                    width: 100%;
                }
            }
        }
    }    
}