
@import './variables.scss';

$input-border-radius: 30px;

.App {
    .weather-input {
        width: 100%;
        padding-top: 2em;
        margin-bottom: 1em;

        .weather-input-form {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            max-width: 400px;
            margin: 0 auto;
            border-radius: $input-border-radius;
            background: $input-background-color;
            transition: all 0.2s ease-in-out;

    

            .weather-input-el {
                padding: 1em;
                border: none;
                font-size: 1rem;
                font-family: $font-family;
                outline: none;
                background: none;
                width: 85%;
                color: $text-color;
                border-top-left-radius: $input-border-radius;
                border-bottom-left-radius: $input-border-radius;

                &:focus {
                    background: white;
                    transition: all 0.2s ease-in-out;
                }              

                &::placeholder {
                    color: lightgrey;
                }

        

            } // Weather Input

            .weather-input-btn {
                background: none;
                color: $text-color;
                padding: 1em 0;
                border: none;
                font-size: 1rem;
                width: 15%;
                transition: background-color 0.3s ease;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                cursor: pointer;

                ion-icon {
                    font-size: 1em;
                }
            } // Weather Input Button
        } // Weather Input Form
    } // Weather Input
} // App


@media (max-width: 462px) {
    .App {
        .weather-input {
            .weather-input-form {
                flex-direction: column;
                gap: 10px;

                .weather-input-el {
                    width: 100%;
                }
                .weather-input-btn {
                    width: 100%;
                }
            }
        }
    }    
}