@import './variables.scss';
@import './input.scss';
@import './weatherSection.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: $background-color;
    background-repeat: no-repeat;
    font-family: $font-family;
    min-height: 100vh;
}


h1, 
h2, 
h3,
p { 
    margin: 0;
}


.loading {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    animation: spin 1s linear infinite;
    color: white;

  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  @media (max-width: 462px) {
    .App {
      padding: 0 1em;
    }
  }

 