.App .weather-input {
  width: 100%;
  padding-top: 2em;
  margin-bottom: 1em;
}
.App .weather-input .weather-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ECF0F6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  max-width: 700px;
  margin: 0 auto;
}
.App .weather-input .weather-input-container .weather-input-geo-btn {
  background: none;
  color: #697384;
  border: none;
  font-size: 1.1rem;
  width: 10%;
  display: grid;
  place-content: center;
  cursor: pointer;
}
@media (max-width: 762px) {
  .App .weather-input .weather-input-container .weather-input-geo-btn {
    width: 15%;
  }
}
.App .weather-input .weather-input-container .weather-input-form {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 762px) {
  .App .weather-input .weather-input-container .weather-input-form {
    width: 90%;
  }
}
.App .weather-input .weather-input-container .weather-input-form .weather-input-el {
  padding: 1em;
  border: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  background: none;
  width: 90%;
  color: #171C24;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
@media (max-width: 762px) {
  .App .weather-input .weather-input-container .weather-input-form .weather-input-el {
    width: 90%;
  }
  .App .weather-input .weather-input-container .weather-input-form .weather-input-el::-moz-placeholder {
    font-size: 0.8rem;
  }
  .App .weather-input .weather-input-container .weather-input-form .weather-input-el::placeholder {
    font-size: 0.8rem;
  }
}
.App .weather-input .weather-input-container .weather-input-form .weather-input-el:focus {
  background: white;
  transition: all 0.2s ease-in-out;
}
.App .weather-input .weather-input-container .weather-input-form .weather-input-el::-moz-placeholder {
  color: lightgrey;
}
.App .weather-input .weather-input-container .weather-input-form .weather-input-el::placeholder {
  color: lightgrey;
}
.App .weather-input .weather-input-container .weather-input-form .weather-input-btn {
  background: none;
  color: #171C24;
  padding: 1em 0;
  border: none;
  font-size: 1rem;
  width: 10%;
  transition: background-color 0.3s ease;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
}
@media (max-width: 762px) {
  .App .weather-input .weather-input-container .weather-input-form .weather-input-btn {
    width: 20%;
  }
}
.App .weather-input .weather-input-container .weather-input-form .weather-input-btn ion-icon {
  font-size: 1.1em;
  color: #697384;
}

.App .weather-data-section {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1em 0;
  color: linear-gradient(to bottom, #a7d1e9, #f2fcfe);
  max-width: 700px;
  margin-bottom: 1em;
}
.App .weather-data-section .weather-data-time {
  color: #697384;
}
.App .weather-data-section .weather-info-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  padding: 0 1em;
}
.App .weather-data-section .weather-info-section .weather-info-item {
  text-align: center;
  padding: 1em 2em;
  border-radius: 4px;
  border-radius: 10px;
  flex: 1 1 0;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App .weather-data-section .weather-info-section .weather-info-item h3 {
  font-size: 2rem;
  color: #171C24;
}
.App .weather-data-section .weather-info-section .weather-info-item p {
  color: #697384;
  font-size: 0.9rem;
}
.App .weather-data-section .weather-data-location {
  display: flex;
  justify-content: center;
  gap: 3px;
  width: 100%;
  align-items: baseline;
}
.App .weather-data-section .weather-data-location .weather-data-location-title {
  font-size: 2.5rem;
  color: #171C24;
}
.App .weather-data-section .weather-data-location p {
  font-size: 1.4rem;
  color: #697384;
  font-weight: bold;
}
.App .weather-data-section .weather-data-temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
}
.App .weather-data-section .weather-data-temperature .weather-data-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.App .weather-data-section .weather-data-temperature .weather-data-right .weather-data-description {
  margin-top: -0.5em;
  color: #697384;
}
.App .weather-data-section .weather-data-temperature .weather-data-right .weather-data-unit-section {
  display: flex;
  align-items: baseline;
  gap: 4px;
  font-size: 1.4rem;
  margin-right: 1.7em;
}
.App .weather-data-section .weather-data-temperature .weather-data-right .weather-data-unit-section .weather-data-temperature-value {
  font-size: 4rem;
  color: #171C24;
}
.App .weather-data-section .weather-data-temperature .weather-data-right .weather-data-unit-section span {
  cursor: pointer;
}
.App .weather-data-section .weather-data-temperature .weather-data-img {
  height: 100px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .App .weather-info-section .weather-info-item {
    width: 40%;
    padding: 2em;
  }
}
.App .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #171C24;
  text-align: center;
  padding: 1em 0;
}
@media (max-width: 462px) {
  .App .footer {
    position: relative;
  }
}
.App .footer a {
  text-decoration: none;
  font-weight: bold;
  color: #171C24;
}

.weather-forecast {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1em;
  color: linear-gradient(to bottom, #a7d1e9, #f2fcfe);
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.weather-forecast .weather-forecast-heading-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: 1em;
  opacity: 1;
  color: #171C24;
}
.weather-forecast .weather-forecast-heading-items ion-icon[name=calendar-outline] {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-heading-items ion-icon[name=calendar-outline] {
    font-size: 1rem;
  }
}
.weather-forecast .weather-forecast-heading-items .weather-forecast-heading {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-heading-items .weather-forecast-heading {
    font-size: 1rem;
  }
}
.weather-forecast .weather-forecast-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-items {
    flex-direction: column;
    padding: 0;
  }
}
.weather-forecast .weather-forecast-items .weather-forecast-item {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-items .weather-forecast-item {
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    width: 80%;
    padding: 1em;
    gap: 20px;
    justify-content: space-between;
  }
  .weather-forecast .weather-forecast-items .weather-forecast-item:last-child {
    border-bottom: none;
  }
}
.weather-forecast .weather-forecast-items .weather-forecast-item:last-child {
  border-right: none;
}
.weather-forecast .weather-forecast-items .weather-forecast-item .weather-forecast-item-heading {
  color: #171C24;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-items .weather-forecast-item .weather-forecast-item-heading {
    width: 30%;
  }
}
.weather-forecast .weather-forecast-items .weather-forecast-item .weather-forecast-item-temperature {
  color: #171C24;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-items .weather-forecast-item .weather-forecast-item-temperature {
    width: 30%;
    text-align: right;
  }
}
.weather-forecast .weather-forecast-items .weather-forecast-item .weather-forecast-img {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(to bottom, #a7d1e9, #f2fcfe);
  border-radius: 50%;
}
@media (max-width: 768px) {
  .weather-forecast .weather-forecast-items .weather-forecast-item .weather-forecast-img {
    height: 35px;
    width: 35px;
  }
}

.theme-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  z-index: 9999;
  cursor: pointer;
}
.theme-btn ion-icon {
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: 100vh;
  background: linear-gradient(to bottom, #a7d1e9, #f2fcfe);
  transition: background 0.2s;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.loading {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 1s linear infinite;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 462px) {
  .App {
    padding: 0 1em;
  }
}/*# sourceMappingURL=main.css.map */