// Colors //
$text-color: #333333;
$background-color: linear-gradient(to bottom, #a7d1e9, #f2fcfe);
$section-color: #333333;
$weather-color: #D3D3D3;
$section-padding: 3em 0;
$max-width: 700px;


$input-background-color: #fff;
$layout-border-radius: 4px;
// 0077bex

// Font
$font-family: 'Roboto', sans-serif;


