// Colors //
$text-color: #333333;
$background-color: #f5f5f5;
$section-color: #0077be;
$weather-color: lightblue;
$section-padding: 2em 0;
$max-width: 700px;

$input-background-color: #00699c     ;
// 0077bex

// Font
$font-family: 'Roboto', sans-serif;


