@import './variables.scss';

.weather-forecast {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1em;
    color: $background-color;
    max-width: $max-width;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .weather-forecast-heading-items {
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-left: 1em;

        ion-icon[name="calendar-outline"]{
            font-size: 1.3rem;
        }

        .weather-forecast-heading {
            color: $text-color;
        }

    }

    

    .weather-forecast-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        background: #fff;
        border-radius: 10px;
        
        .weather-forecast-item {
            border-right: 1px solid rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            flex: 1;

            &:last-child {
                border-right: none;
            }

            .weather-forecast-item-heading {
                color: $text-color;
            }

            .weather-forecast-item-temperature {
                color: $text-color;
                font-weight: bold;
            }




            .weather-forecast-img {
                height: 80px;
                width: 80px;
                object-fit: cover;
                background: $background-color;
                border-radius: 50%;
            }

        }

        
    }
}