@import './variables.scss';

.App {
    .weather-data-section {
        background: $section-color;
        width: 90%;
        margin: 0 auto;
        border-radius: 7.5px;
        padding: $section-padding;
        color: $background-color;
        max-width: $max-width;

        .weather-data-location {
            display: flex;
            justify-content: center;
            gap: 5px;
            width: 100%;
            align-items: baseline;
            
            .weather-data-location-title {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.4rem;
                color: lightgray;
                font-weight: bold;
            }

        }

        .weather-data-temperature {
            display: flex;
            align-items: center;
            justify-content: center;


            span {
                cursor: pointer;
            }

            .weather-data-temperature-value {
                font-size: 2.4rem;
            }


            .weather-data-unit-section {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-left: 0.5em;
                font-size: 1.4rem;
            }

        }


        .weather-data-img {
            width: 50px;
        }
    }
}