@import './variables.scss';

.App {
    .weather-data-section {
        background: rgba(255, 255, 255, 0.2);;
        width: 100%;
        margin: 0 auto;
        border-radius: 4px;
        padding: $section-padding;
        color: $background-color;
        max-width: $max-width;

        .weather-info-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
            
            .weather-info-item {
                text-align: center;
                padding: 1em;
                width: 20%;
                background: #fff;
                border-radius: $layout-border-radius;
                color: $section-color;

                h3 {
                    font-size: 2rem;
                }
            }
        }

        .weather-data-location {
            display: flex;
            justify-content: center;
            gap: 5px;
            width: 100%;
            align-items: baseline;
            
            .weather-data-location-title {
                font-size: 2.5rem;
                color: $section-color;
            }

            p {
                font-size: 1.4rem;
                color: grey;
                font-weight: bold;
            }

        }

        .weather-data-temperature {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            gap: 20px;
            padding: 2em 0;


            .weather-data-unit-section {
                display: flex;
                align-items: baseline;
                gap: 4px;
                font-size: 1.4rem;

                .weather-data-temperature-value {
                    font-size: 4rem;
                }

                span {
                    cursor: pointer;
                }
    
            }
            .weather-data-img {
                height: 120px;
                width: 150px;
                object-fit: cover;
                border-radius: 50%;
            }

        }

        
    }
}